<h1>Create a new recipe</h1>

<form action="/new_recipe" method="post">
  <p class=form>Recipe name: <input type="text" name="recipe_name"></p><br>
  <p class=form>Recipe description: <input type="text" name="recipe_description"></p><br>
  <p class=form>Recipe prep time: <input type="text" name="recipe_prep_time"></p><br>
  <p class=form>Recipe ingredients: <textarea name="ingredients"></textarea></p><br>
  <input type="submit" value="Submit" class=myButton>
</form>
