<h1>Import recipes</h1>

<h3>What ingredient you want to search:</h3>

<form action="/select_ingredient" method="post">
  Recipe index: <input type="text" name="ingredient"><br>
  <input type="submit" value="Submit" class=myButton>
</form>

